# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_TENAX-XIAO_LEFT
	def_bool $(shields_list_contains,tenax-xiao_left)

config SHIELD_TENAX-XIAO_RIGHT
	def_bool $(shields_list_contains,tenax-xiao_right)
